@using Resources
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div>
       <CENTER><img src="~/images/-590246944_00000.jpg" /></CENTER>
    </div>
    <div class="dropdown">
        <strong> Sobre nos... </strong>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Escolha o idioma:
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="~/Home/Ingles">ENGLISH</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="~/Home/Portugues">PORTUGUES</a></li>
        </ul>
    </div>

    <p>@Resources.Site.Texto</p>
</div>



