@using Resources
@{
    ViewBag.Title = "About";
}
<h1>Sobre nos ...</h1>
<p>@Resources.Site.Texto</p>
<p>
    <a href="~/Home/Ingles">Ingles - Estados Unidos</a></p>
<p>
    <a href="~/Home/Portugues">Portugues - Brasil</a>
    
   
</p>

<p>
    <a href="~/Home/Portugues" class="btn btn-primary">
        <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>
        Portugues
    </a>
</p>

<p>
    <a href="~/Home/Ingles" class="btn btn-default">
        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
        Ingles
    </a>
</p>
