@using Resources
@{
    ViewBag.Title = "About";
}
<h1>Sobre nos ...</h1>
<p>@Resources.Site.Texto</p>
<p>
    <a href="~/Home/Ingles">Ingles - Estados Unidos</a></p>
<p>
    <a href="~/Home/Portugues">Portugues - Brasil</a>
</p>
